
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 79, 121, 194;
    --background-end-rgb: 147, 177, 230;
}

@media (prefers-color-scheme: dark) {
:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 22, 51;
    --background-end-rgb: 0, 7, 15;
}
}

body {
color: rgb(var(--foreground-rgb));
background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


  
  
  
  
  